div{ 
    height: 80px; 
    width: 200px; 
    background-color: #C0C0C0; 
    border: 1px solid black; 
    position: left; 
    margin: 3px; 
  } 
  .lang{ 
    height: 150px; 
    width: 200px; 
    background-color: #C0C0C0; 
    border: 1px solid black; 
    position: left; 
    margin: 3px; 
  } 
  .info{ 
    height: 90px; 
    width: 200px; 
    background-color: #C0C0C0; 
    border: 1px solid black; 
    position: left; 
    margin: 3px; 
  } 
  .edc{ 
   height: 200px; 
    width: 200px; 
    background-color: #C0C0C0; 
    border: 1px solid black; 
    position: absolute; 
    margin: 0 0 0 auto; 
    top: 25%; 
    right:10% 
  } 
  .clad{ 
   height: 150px; 
    width: 200px; 
    background-color: #C0C0C0; 
    border: 1px solid black; 
    position: absolute; 
    margin: 0 0 0 auto; 
    top: 55%; 
    right:10%  
  } 
  .bb{ 
   height: 150px; 
    width: 200px; 
    background-color: #C0C0C0; 
    border: 1px solid black; 
    position: absolute; 
    margin: 0 0 0 auto; 
    top: 120%; 
    right:1%  
  }
  .job{width: 50px; position: absolute;left: 20%; bottom: 0%;}